@import '../stylesheets/custom_colors';

#footer {
  // border-top: solid 1px $custom-grey;
  color: $custom-grey;
  text-align: center;
  padding: 10px 0;
  background: $custom-dark;

  a {
    color: $custom-grey;
  }

  .footer__icons {
    margin-top: 10px;

    img {
      width: 25px;
      margin-right: 10px;
    }
  }
}
