@import './custom_colors';

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  font-family: 'Lora', serif;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  margin: 0 auto;
  padding: 0 30px;
  max-width: 1199.98px;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: -3px;
  z-index: 99;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;

  img {
    max-width: 30px;
  }
}
