@import './custom_colors';

.header {
  background-color: $custom-dark;
  border-bottom: 1px solid;
  margin-bottom: 60px;

  .header-content {
    display: flex;
    padding: 20px;

    .header-content__logo {
      flex: 1;

      h1 {
        color: $custom-white;
        font-size: 3em;
      }
    }


    .form-search {
      align-self: center;
      display: flex;
      justify-content: flex-end;
      width: 50%;

      .search {
        border: none;
        border-radius: 5px;
        font-family: 'Lora', serif;
        font-size: 1em;
        padding: 15px;
        width: 100%;
      }
    }

  }

  @media (max-width: 767.98px) {
    .header-content {
      flex-direction: column;

      .header-content__logo {
        h1 {
          text-align: center;
        }
      }

      .form-search {
        align-self: center;
        display: flex;
        justify-content: flex-end;
        width: 100%;

        .search {
          margin: 20px 0;
        }
      }
    }
  }
}
